.catalog {
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  width: 40px !important;
  height: 40px !important;
  padding: 5px;
  transition: all .3s ease-in-out !important;

  &:hover {
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
  }

  &Error {
    padding: 10px;
  }
}

.catalogItem {
  color: #838383 !important;
  text-transform: uppercase !important;

  &:hover {
    color: #1a8ec1 !important;
  }
}

@media (max-width: 490px) {
  .catalog {
    width: 35px !important;
    height: 35px !important;
    padding: 3px;
  }

  .catalogItem {
    font-size: 14px !important;
  }
}