.catalog {
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  margin-top: 5px;
  transition: all .3s ease-in-out !important;

  &:hover {
    color: #1a8ec1;
    border: 1px solid #1a8ec1;
  }
}

.catalogItem {
  color: #838383 !important;
  text-transform: uppercase !important;

  &:hover {
    color: #1a8ec1 !important;
  }
}