.catalog {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  width: 40px !important;
  height: 40px !important;
  padding: 5px;
  transition: all .3s ease-in-out !important;

  &:hover {
    color: #1a8ec1;
    border: 1px solid #1a8ec1;
  }
}

.catalogItem {
  color: #838383 !important;
  text-transform: uppercase !important;

  &:hover {
    color: #1a8ec1 !important;
  }
}