.stock {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);

  &Point {
    color: #838383;
    font-weight: 400;
  }
}

@media (max-width: 490px) {
  .stock {
    font-size: 16px;
  }
}


