.stock {
  font-size: 18px;
  font-weight: 600;
  color: #1a8ec1;

  &Point {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
  }
}

@media (max-width: 490px) {
  .stock {
    font-size: 16px;
  }
}


