.signup {
  text-align: center;
  color: rgba(255, 255, 255, 0.7) !important;
  transition: color .3s ease-in-out !important;

  &:hover {
    color: rgba(255, 255, 255, 1) !important;
  }

  &Icon {
    font-size: 35px !important;
  }

  &Text {
    color: #50af31;
  }
}

@media (max-width: 490px) {
  .signup {
    &Icon {
      font-size: 30px !important;
    }
  }
}