.cartIcon {
  font-size: 35px !important;
}

.iconCart {
  color: rgba(255, 255, 255, 0.7);
  transition: color .3s ease-in-out;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

@media (max-width: 490px) {
  .cartIcon {
    font-size: 30px !important;
  }
}