.header {
  padding: 20px 0;
  background-color: #37424e;

  &Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &Item {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
    gap: 30px;
  }
}