.registration {
  padding: 30px 0;

  &ErrorText {
    margin-bottom: 20px;
  }

  &Wrapper {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Input {
    margin-bottom: 10px;
  }

  &Select {
    margin-bottom: 5px !important;
  }
}

.modalText {
  text-align: center;
  font-size: 26px;
  color: #50af31;
  font-weight: 600;
}

@media (max-width: 767px) {
  .modalText {
    font-size: 24px;
  }
}

@media (max-width: 490px) {
  .modalText {
    font-size: 22px;
  }
}