.button {
  background-color: #50af31;
  padding: 15px 15px;
  border-radius: 50px;
  color: #fff;
  width: 100%;
  border: 1px solid #50af31;
  font-size: 18px;
  margin-top: auto;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: #fff;
    color: #50af31;
  }
}

@media (max-width: 767px) {
  .button {
    padding: 10px 15px;
    font-size: 16px;
  }
}

@media (max-width: 490px) {
  .button {
    padding: 8px 12px;
    font-size: 14px;
  }
}
