.swiperSlider {
  position: relative;
  z-index: 1;
}

.sliderButtonNext {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(0, 50%);
  z-index: 2;
}

.sliderButtonPrev {
  position: absolute;
  left: 0;
  bottom: 50%;
  z-index: 2;
}

.imageSlide {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.slideImg {
  padding: 0 10px;
}

.img {
  object-fit: contain;
  height: 200px;
}




